@import "tailwindcss";

nav {
  width: 100%;
}

.nav-top {
  top: 0;
  height: 65px;
  width: 100%;
  background-color: rgba(25, 7, 162, 0.634);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top h1 {
  margin-left: 20px;
  font-size: 21px;
  font-weight: bold;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-bars {
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 5px;
}

.user h4 {
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.img-user {
  height: 38px;
  aspect-ratio: 1/1;
  background-color: #ffff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-user {
  font-size: 22px;
  color: rgba(25, 7, 162, 0.634);
}

.nav-button {
  width: 100%;
  height: 28px;
  background-color: rgba(25, 7, 162, 0.304);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(25, 7, 162, 0.634);
  font-size: 15px;
}

/* form section */

.add-product {
  border-top: 0.0001px solid black;
  width: 80%;
  display: none;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input,
form button,
select {
  border: 1px solid rgba(25, 7, 162, 0.497);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 3px;
}

#buttonSubmit {
  background-color: rgba(25, 7, 162, 0.634);
  color: #ffff;
  transition: 0.2s;
}

#buttonSubmit:hover {
  background-color: rgba(25, 7, 162, 0.497);
  cursor: pointer;
}

/* body start form here */

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* my section */

.colorTextB {
  color: green;
  font-weight: 600;
}

main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-purchases {
  background-color: rgba(100, 148, 237, 0.186);
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-sclect {
  margin-top: 10px;
}

.total-spent-contener {
  width: 100%;
  display: flex;
  padding-block: 20px;
}

.left-side-spent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-side-spent h2,
.right-side-spent span {
  padding-inline: 15px;
}

.right-side-spent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* your-purchases-his */

.your-purchases-his {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  /* min-height: 70vh; */
  margin-top: 20px;
  margin-bottom: 100px;
}

.fa-cart-shopping {
  margin-right: 5px;
}

.his-card {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(180, 100, 237, 0.095);
  display: flex;
  padding: 10px;
}

.his-card h1 {
  font-weight: 600;
}

.card-left {
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-right h2 {
  margin-right: 25px;
}

.colorText {
  color: rgba(182, 27, 0, 0.574);
}

/* footer */

footer {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
